repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: block-keys
        name: Block potential secrets
        entry: python .hooks/block_keys.py
        language: system
        files: '.*'
        exclude: '^\.hooks/'   # <<< НЕ сканируем директорию с самим скриптом

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: [ "--fix" ]
